<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body { font-family: 'Avenir', 'Lato', sans-serif; color: #555; background-color: #f9f9f9; }
        .container { padding: 20px; margin: 20px auto; max-width: 580px; background-color: #fff; border-radius: 10px;}
        .greeting { font-size: 20px; color: #2ecc71; margin-bottom: 15px; }
    </style>
</head>
<body>
    <div class="container">
        <div class="greeting">Hi Team,</div>
        <div>
            <p>{{.Content}}</p>
            <br>
            <p>Best,</p>
        </div>
    </div>
</body>
</html>